.Mosaic {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(32px, 1fr));
}

.Mosaic .Piece {
  width: 100%;
  height: 100%;

  transition: background-color 0.3s ease-out;
}
